*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background: #f5e6ff;
    color: #222;
}

header{
    background: #b37dff;
    padding: 20px;
    text-align: center;
    color: white;
}

nav{
    margin-top: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-weight: 500;
}

nav a.active{
    border-bottom: 2px solid white;
}

.container{
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

.title{
    text-align: center;
    font-size: 36px;
    margin-bottom: 30px;
    color: #6b2fb9;
}

.card{
    background: #e8d8ff;
    padding: 25px;
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.card h3{
    font-size: 24px;
    color: #5a1fa2;
    margin-bottom: 15px;
}

.card ul{
    margin-left: 20px;
    line-height: 1.7;
}
