* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* BODY BACKGROUND */
body {
  background: linear-gradient(135deg, #ffd4e0, #ffe7d8, #ffffff);
  overflow-x: hidden;
  padding-top: 80px; /* so navbar won't overlap */
}

/* NAVBAR */
header {
  width: 100%;
  background: rgba(255,255,255,0.3);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #4c2e73;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #4c2e73;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #000;
  transform: scale(1.05);
}

/* HERO SECTION */
.hero {
  width: 100%;
  padding: 80px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left {
  max-width: 50%;
}

.hero-left h1 {
  font-size: 42px;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
  line-height: 55px;
}

.hero-desc {
  margin-top: 20px;
  font-size: 16px;
  color: #555;
  width: 85%;
}

/* RIGHT INFO CARD */
.info-card {
  background: #ffffff;
  padding: 30px;
  border-radius: 15px;
  width: 320px;
  box-shadow: 0px 6px 20px rgba(0,0,0,0.1);
}

.info-card h2 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 600;
  color: #444;
}

.info-card p {
  margin-bottom: 8px;
  color: #555;
  font-size: 15px;
}

/* SHORT INFO SECTION */
.short-info {
  padding: 50px 10%;
  display: flex;
  gap: 30px;
}

.info-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 15px;
  width: 50%;
  box-shadow: 0px 6px 18px rgba(0,0,0,0.08);
}

.info-box h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.info-box p {
  color: #555;
  line-height: 1.6;
}

/* ABOUT CITY */
.about-city {
  padding: 60px 10%;
  text-align: center;
}

.about-city h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

.about-city p {
  max-width: 900px;
  margin: 10px auto;
  color: #555;
  line-height: 1.7;
}

/* TEAM SECTION */
.team {
  padding: 60px 10%;
  text-align: center;
}

.team h2 {
  font-size: 28px;
  margin-bottom: 40px;
  color: #333;
}

.team-container {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.team-card {
  background: #ffffff;
  width: 260px;
  padding: 25px;
  border-radius: 18px;
  text-align: left;
  box-shadow: 0px 8px 22px rgba(0, 0, 0, 0.1);
}

.team-card h3 {
  margin-bottom: 15px;
  color: #444;
}

.team-card p {
  margin-bottom: 8px;
  color: #555;
}
